:root {
    --grey-1: rgb(73, 61, 88);
    --grey-4: rgb(126, 105, 160);
    --grey-7: rgb(201, 184, 199);

    --blue-1: rgb(29, 50, 75);
    --blue-4: rgb( 160, 145, 105);
    --blue-7: rgb(  190, 200, 200);

    --brown-1: rgb(50, 55, 60);
    --brown-4: rgb( 201, 184, 199);
    --brown-7: rgb( 220, 210, 165);

    --red-1: rgb( 40, 35, 50);
    --red-4: rgb(114, 69, 63);
    --red-7: rgb(225, 180, 145); 
}

*  {
    box-sizing: border-box;
    transition: all .7s ease;
}

body {
    margin: 0;
    font-family:Arial;
    background-color: var(--grey-4);
}

/* Avatar */
.avatarBorder {
    position:absolute;
    top: 16px;
    left: 9px;
    clip-path: circle(45% at 50% 50%);
    background-color: var(--brown-4);
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px var(--brown-7);
    border: 0 0 0 5px solid black;
    z-index: 9;
    height: 120px;
    width: 120px;
}

.avatar {
    position:absolute;
    top: 26px;
    left: 19px;
    clip-path: circle(50% at 50% 50%);
    background-color: var(--red-4);
    border: 5x solid var(--red-1);
    /* box-shadow: 0 0 0 60px var(--red-1); */
    border-radius: 50%;
    z-index: 10;
    height: 100px;
    width: 100px;
}

/* Navigation and Ribbon */
nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: right;
    background-color: var(--grey-7);
}

nav ul {
    display: flex;
    justify-content: end;
}

nav li {
    text-align: center;
    padding: 10px 10px;
    color: var(--red-1);
}

nav a {
    text-decoration: none;
    color: var(--red-1);
}

/* Add in code for underlining navs and changing color on hover */

.headspace {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ribbon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-4);
    height: 100px;
    border-top: 2px solid var(--red-1);
    border-bottom: 2px solid var(--red-1);

    /* box-shadow: inset 0 0 0 25px var(--red-1); */
}

 a:visited {
    color: inherit;
}

.ribbon h1 {
    position: relative;
    bottom: -23px;
    font-size: 70px;
    padding-right: 0px;
    background-color: var(--red-4);
    width: 100%;
    text-align: right;
    line-height: 18px;
    color: var(--red-7);
}

/* Main body section */
.midspace {
    display: flex;
    flex-direction: column;
}

.midspace article {
    display: flex;
}

section article {
    display: flex;
    justify-content: space-between;
    height: 33%;
    margin: 10px 0;
}

article .left {
    flex: .6 0;
    display: block;
    padding: 0 45px 0px 10px;
    height: auto;
    min-width: 200px;
    border-right: 1px solid var(--grey-1);
    color: var(--grey-7);
    font-stretch: expanded;
    margin: 5px;

}

.left h2 {
    font-size: xx-large;
    font-weight:bolder ;
    text-align: right;
    padding-left: 10pz;
    min-width: 163px;
}

article section.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 5;
    min-width: 675px;
}

.right p {
    width: 85%;
    text-align: left;
    color: var(--grey-7);
    margin-bottom: 10px;
    line-height: 25px;
    max-width: 835px;
}

.right ul {
    display: flex;
    justify-content: space-evenly;
    width: 85%;
}

.right li {
    text-align: center;
    padding: 10px 10px;
    color: var(--grey-7);
}

.right a {
    text-decoration: none;
    color: var(--grey-7);
}

/* Setting up images and cards */

.tag {
    position: absolute;
    right: 0;
    top: 25px;
    height: 55px;
    width: 50px;
    border-radius: 25px 0 0 25px;
    background-color: var(--brown-1);
    color: var(--grey-7);
    transition: width .7s, color 0s ease;

}

.tag:hover {
    width: 150px;
    font-size: 15px;
}

.tag a {
    transition: all 0.3s ease;
}
.tag h1 {
    position: relative;
    top: 14px;
    left: 15px;
    font-size: 0px;
    transition: all .7s ease;
}

.tag:hover, .tag:hover h1 {
    font-size: 13px;
}

.tag h2 {
    position: relative;
    top: 18px;
    left: 15px;
    font-size: 0px;
    transition: all .7s ease;
}

.tag:hover, .tag:hover h2 {
    font-size: 10px;
}

section article {
    background-color: var(--grey-4);
}

figure {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    height: 110px;
    background-color: var(--brown-1);
    margin: 20px;
    min-width: 446;
    border-radius: 25px;
    
}

figure.best-work {
    flex: 5 1 100%;
    max-width: 600px;
    min-width: 400px;
    height: 300px;
    padding: 0 20%;
    background-image: url(../imgs/refactor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 40%;
    margin-left: 20px;
    box-shadow: inset 0px 0px 0px 5px var(--brown-1);

}

figure.reg-work {
    flex: .5 0 0%;
    max-width: 200px;
    min-width: 80px;
    height: 200px;
    padding: 0 20%;
    background-image: url(../imgs/landing.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-position-y: 40%;
    margin-left: 20px;
    box-shadow: inset 0px 0px 0px 7px var(--brown-1);
}

figure.reg-work.two {
    background-image:url(../imgs/cards.png)
}

figure.reg-work.three {
    background-image: url(../imgs/prework.png);
    background-position: top;
}

/* Contact links */ 
.contact-links {
    color: var(--grey-7);
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-links:visited {
    color: var(--grey-7);
}

.contact-links:any-link {
    color: var(--grey-7);
}

/* Adding in the footer */
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--red-4);
    height: 50px;
    border-top: 2px solid var(--red-1);
    border-bottom: 2px solid var(--red-1);
}

footer h2{
    position: relative;
    top: 35%;
    color: var(--red-7);
    line-height: -15px;
}

/* Adding in an animated underline */
a {
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--brown-1);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
a:hover::before {
    transform: scaleX(1);
}

/* Screen-size adjustments */
@media screen and (max-width: 986px) {
    .midspace article {
        flex-direction: column;
        margin-top: 15px;
    }
    article h2 {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    section.left {
        border-right: transparent;
        border-bottom: 2px dashed var(--grey-7);
        border-top: 2px dashed var(--grey-7);
        background-color: var(--grey-1);
        width: 100%;
        margin: 0;
    }
    section.left h2 {
        padding-top: 5px;
        margin-bottom: 5px;
    }

    section.right p {
        margin-top: 20px;
    }
    section.right ul {
        margin-top: 20px;
    }
    .tag h2 {
        position: relative;
        top: 18px;
        left: -20px;
        font-size: 0px;
    }
}

@media screen and (max-width: 680px) {
    body {
        min-width: 680px;
    }
    figure.best-work {
        flex: .0 1 0%;
        max-width: 200px;
        height: 100px;
        padding: 0 20%;
        background-image: url(../imgs/refactor.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        margin-left: 20px;
        box-shadow: inset 0px 0px 0px 5px var(--brown-1);
    
    }
    figure.reg-work {
        flex: 0 1 0%;
        width: 130px;
        height: 100px;
        padding: 0 20%;
        background-image: url(../imgs/landing.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        background-position-y: 40%;
        margin-left: 20px;
        box-shadow: inset 0px 0px 0px 7px var(--brown-1);
    } 
    .tag h2 {
        position: relative;
        top: 18px;
        left: -22px;
        font-size: 0px;
    }
}